@import './variables';
@import './sidebar-variables.scss';
@import './transition.scss';
@import './sidebar.scss';

*{
  box-sizing: border-box;
  outline: none;
}
html{
  font-size: 14px;
  width: 100%;
  height: 100%;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  border: none;
}
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased;
}
#app {
  height: 100%;
}
// 阴影
.bx-shadow-1{
  box-shadow:0px 3px 8px 0px rgba(0, 0, 0, 0.23);
}
.bx-shadow-2{
  box-shadow:0 0 5px 0 rgba(141, 141, 141, 0.17)
}
// 字体颜色和背景颜色
@each $key, $value in $colors {
  .bg-#{$key}{
    background-color: $value;
  }
  .text-#{$key}{
    color: $value;
  }
}
// width, height
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.min-h-1{
  min-height: 80%;
}
// 字体大小
@each $key,$value in $font-sizes {
  .fs-#{$key}{
    font-size: $value * $base-font-size;
  }
}
// 弹性布局相关
.flex{
  display: flex;
}
.flex-column{
 flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
@each $key, $value in $flex-jc {
  .jc-#{$key}{
    justify-content: $value;
  }
}
@each $key, $value in $flex-ai {
  .ai-#{$key}{
    align-items: $value;
  }
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-4{
  flex: 4;
}
.flex-5{
  flex: 5;
}
// margin
.mg-left-1{
  margin-left: 1rem;
}
// 渐变背景
// - 登录按钮背景
.gradient-blue{
  background: linear-gradient(90deg, #548BFF,#1A56FD);
}
.gradient-blue-1{
  background: linear-gradient(90deg,rgba(142,178,255,1),rgba(93,136,255,1));
}
// - 管理页面导航栏背景
.gradient-blue-2{
  background:linear-gradient(-90deg,rgba(87,119,255,1),rgba(36,60,207,1));
}
// - 首页下拉框背景颜色
.gradient-blue-3{
  background:linear-gradient(90deg,rgba(9,56,170,1),rgba(32,62,171,1));
}


// 按钮样式
.btn-light{
  background:rgba(214,218,239,1);
  border:1px solid rgba(147,161,239,1); 
  color:rgba(38,63,209,1);
}
.btn-dark{
  border:1px solid rgba(83,114,251,1); 
  background:rgba(83,114,251,1);
  color: #fff;
}
.btn-add{
  background:rgba(231,239,254,1);
  border:1px solid rgba(211,211,211,1);
  border-radius:4px;
  color: #4360EC;
}
.btn-del{
  background:rgba(237,223,225,1);
  border:1px solid rgba(211,211,211,1);
  border-radius:4px;
  color: #BE4242;
}
.btn-refresh{
  background-color: #D3D3D3;
  color: #4D4D4D;
  border-radius:4px;
}

// 手型
.cursor-pointer{
  cursor: pointer;
}

// 表格搜索
.search{
  .el-input-group__append button.el-button{
    background-color: #4360EC;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// 表格样式
// - 表头
.table-header{
  background-color: #EEEEEE !important;
  color: #4D4D4D;
}
// - 分页
.el-pagination{
  text-align: right;
}

// 弹出框
// - 标题
.el-dialog__header {
  background: linear-gradient(-90deg,rgba(87,119,255,1),rgba(36,60,207,1));
  padding: 1rem;
}
.el-dialog__title {
  color: #fff;
  font-size: 1.2rem;
}
.el-dialog__headerbtn .el-dialog__close {
  color: #fff;
}


// 地图
// - 标记的图标
.BMap_Marker img{
  width: 100%;
  height: 100%;
}
// - 百度logo
.anchorBL{
  display: none;
}

